# Wind Statistics

### Introduction:

The data have been modified to contain some missing values, identified by NaN.  
Using pandas should make this exercise
easier, in particular for the bonus question.

You should be able to perform all of these operations without using
a for loop or other looping construct.


1. The data in 'wind.data' has the following format:

In [434]:
"""
Yr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL
61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04
61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83
61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71
"""

'\nYr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL\n61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04\n61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83\n61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71\n'

   The first three columns are year, month and day.  The
   remaining 12 columns are average windspeeds in knots at 12
   locations in Ireland on that day.   

   More information about the dataset go [here](wind.desc).

### Step 1. Import the necessary libraries

In [17]:
import pandas as pd
import numpy as np
import datetime

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/Wind_Stats/wind.data)

### Step 3. Assign it to a variable called data and replace the first 3 columns by a proper datetime index.

In [7]:
data=pd.read_csv("wind.data", sep="\s+", parse_dates=[[0,1,2]])
data.head(100)

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,2061-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,2061-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,2061-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,2061-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,2061-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2061-04-06,4.50,8.21,9.29,3.21,5.96,4.33,5.00,7.33,6.13,6.54,10.25,11.50
96,2061-04-07,8.21,7.04,13.75,3.75,6.00,5.00,5.33,4.00,5.66,3.67,7.62,7.21
97,2061-04-08,10.34,11.29,11.29,4.42,9.38,7.67,8.71,10.08,9.21,8.42,11.25,11.12
98,2061-04-09,13.37,11.12,13.08,8.83,11.75,10.21,9.96,9.59,10.54,10.50,10.13,15.34
99,2061-04-10,5.75,4.83,8.25,3.00,5.88,4.25,5.21,3.58,6.00,4.58,7.62,11.25

### Step 4. Year 2061? Do we really have data from this year? Create a function to fix it and apply it.

In [8]:
def fixcentury(x):
    temp_year=x.year
    if x.year>2000:
        temp_year= x.year -100 
    else:
         x.year
    return datetime.date(temp_year,x.month,x.day)

data["Yr_Mo_Dy"]=data["Yr_Mo_Dy"].apply(fixcentury)
data.head(10)

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,1961-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,1961-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,1961-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,1961-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,1961-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83
5,1961-01-06,13.21,8.12,9.96,6.67,5.37,4.50,10.67,4.42,7.17,7.50,8.12,13.17
6,1961-01-07,13.50,14.29,9.50,4.96,12.29,8.33,9.17,9.29,7.58,7.96,13.96,13.79
7,1961-01-08,10.96,9.75,7.62,5.91,9.62,7.29,14.29,7.62,9.25,10.46,16.62,16.46
8,1961-01-09,12.58,10.83,10.00,4.75,10.37,6.79,8.04,10.13,7.79,9.08,13.04,15.37
9,1961-01-10,13.37,11.12,19.50,8.33,9.71,6.54,11.42,7.79,8.54,9.00,8.58,11.83

### Step 5. Set the right dates as the index. Pay attention at the data type, it should be datetime64[ns].

In [9]:
data['Yr_Mo_Dy']=pd.to_datetime(data['Yr_Mo_Dy'])
data.set_index('Yr_Mo_Dy')

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Yr_Mo_Dy,,,,,,,,,,,,
1961-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1961-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
1961-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
1961-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
1961-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83
...,...,...,...,...,...,...,...,...,...,...,...,...
1978-12-27,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08
1978-12-28,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46
1978-12-29,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58
1978-12-30,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79
1978-12-31,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08

### Step 6. Compute how many values are missing for each location over the entire record.  
#### They should be ignored in all calculations below.

In [10]:
data.isnull().sum()

Yr_Mo_Dy    0
RPT         6
VAL         3
ROS         2
KIL         5
SHA         2
BIR         0
DUB         3
CLA         2
MUL         3
CLO         1
BEL         0
MAL         4
dtype: int64

### Step 7. Compute how many non-missing values there are in total.

In [11]:
data.notnull().sum()

Yr_Mo_Dy    6574
RPT         6568
VAL         6571
ROS         6572
KIL         6569
SHA         6572
BIR         6574
DUB         6571
CLA         6572
MUL         6571
CLO         6573
BEL         6574
MAL         6570
dtype: int64

### Step 8. Calculate the mean windspeeds of the windspeeds over all the locations and all the times.
#### A single number for the entire dataset.

In [12]:
data.sum().sum()/data.notna().sum().sum()

/var/folders/cv/5d9pcgmx1c7gkjn0tsj4dy0m0000gq/T/ipykernel_82743/422784508.py:1: FutureWarning: The default value of numeric_only in DataFrame.sum is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.sum().sum()/data.notna().sum().sum()

9.440837986211093

### Step 9. Create a DataFrame called loc_stats and calculate the min, max and mean windspeeds and standard deviations of the windspeeds at each location over all the days 

#### A different set of numbers for each location.

In [13]:
data.describe(percentiles=[])

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
count,6568.000000,6571.000000,6572.000000,6569.000000,6572.000000,6574.000000,6571.000000,6572.000000,6571.000000,6573.000000,6574.000000,6570.000000
mean,12.362987,10.644314,11.660526,6.306468,10.455834,7.092254,9.797343,8.495053,8.493590,8.707332,13.121007,15.599079
std,5.618413,5.267356,5.008450,3.605811,4.936125,3.968683,4.977555,4.499449,4.166872,4.503954,5.835037,6.699794
min,0.670000,0.210000,1.500000,0.000000,0.130000,0.000000,0.000000,0.000000,0.000000,0.040000,0.130000,0.670000
50%,11.710000,10.170000,10.920000,5.750000,9.960000,6.830000,9.210000,8.080000,8.170000,8.290000,12.500000,15.000000
max,35.800000,33.370000,33.840000,28.460000,37.540000,26.160000,30.370000,31.080000,25.880000,28.210000,42.380000,42.540000

### Step 10. Create a DataFrame called day_stats and calculate the min, max and mean windspeed and standard deviations of the windspeeds across all the locations at each day.

#### A different set of numbers for each day.

In [14]:
day_stats=pd.DataFrame()
day_stats['min']=data.min(axis=1)
day_stats['max']=data.max(axis=1)
day_stats['mean']=data.mean(axis=1)
day_stats['std']=data.std(axis=1)
day_stats

/var/folders/cv/5d9pcgmx1c7gkjn0tsj4dy0m0000gq/T/ipykernel_82743/4132310395.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  day_stats['min']=data.min(axis=1)
/var/folders/cv/5d9pcgmx1c7gkjn0tsj4dy0m0000gq/T/ipykernel_82743/4132310395.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  day_stats['max']=data.max(axis=1)
/var/folders/cv/5d9pcgmx1c7gkjn0tsj4dy0m0000gq/T/ipykernel_82743/4132310395.py:4: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  day_stats['mean']=data.mean(axis=1)
/var/folders/cv/5d9pcgmx1c7gkjn0tsj4dy0m0000gq/T/ipykernel_82743/4132310395.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  day_stats['std']=data.std(axis=1)

       min    max       mean       std
0     9.29  18.50  13.018182  2.808875
1     6.50  17.54  11.336364  3.188994
2     6.17  18.50  11.641818  3.681912
3     1.79  11.75   6.619167  3.198126
4     6.17  13.33  10.630000  2.445356
...    ...    ...        ...       ...
6569  8.08  40.08  16.708333  7.868076
6570  5.00  41.46  15.150000  9.687857
6571  8.71  29.58  14.890000  5.756836
6572  9.13  28.79  15.367500  5.540437
6573  9.59  27.29  15.402500  5.702483

[6574 rows x 4 columns]

### Step 11. Find the average windspeed in January for each location.  
#### Treat January 1961 and January 1962 both as January.

In [31]:
data.index = pd.date_range(start='1960-01-01', end='1990-1-1', periods=len(data))
data.loc[data.index.month == 1].mean()

/var/folders/cv/5d9pcgmx1c7gkjn0tsj4dy0m0000gq/T/ipykernel_82743/640676702.py:2: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  data.loc[data.index.month == 1].mean()

RPT    12.301339
VAL    10.473018
ROS    11.585223
KIL     6.200660
SHA    10.127728
BIR     7.119430
DUB     9.451105
CLA     8.384089
MUL     8.263725
CLO     8.649429
BEL    12.804563
MAL    14.807746
dtype: float64

### Step 12. Downsample the record to a yearly frequency for each location.

In [32]:
data.index = pd.date_range(start='1960-01-01', end='1990-1-1', periods=len(data))
data.groupby(data.index.to_period('A')).mean()

/var/folders/cv/5d9pcgmx1c7gkjn0tsj4dy0m0000gq/T/ipykernel_82743/176538438.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data.groupby(data.index.to_period('A')).mean()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
1960,11.781659,10.353624,10.963333,6.855714,10.665505,7.717318,9.217661,8.996164,9.023532,9.741818,13.733364,13.498899
1961,13.591759,10.858119,12.459450,7.362765,11.563973,8.060046,11.826835,9.045459,8.688761,10.271468,13.743744,14.521284
1962,10.980457,9.237123,10.785708,6.479224,10.004703,6.660137,9.671826,8.423014,7.681735,9.092603,12.044155,13.013486
1963,13.898493,11.300411,13.762374,8.017260,11.981233,9.116301,12.237078,10.299315,9.288356,10.779361,13.619817,16.663014
1964,12.089087,10.472192,11.459132,6.731050,11.270776,7.741005,10.124384,9.934338,8.453973,9.709178,13.715708,14.006667
1965,12.297900,11.012831,12.294018,7.203105,12.081187,7.906393,10.515753,10.194064,7.927717,10.651644,13.897580,14.883744
1966,12.477169,11.050502,12.373333,6.380594,10.567808,7.062740,10.501142,8.498995,7.698904,9.621689,13.104201,15.267032
1967,11.444886,10.088676,10.582374,6.441553,10.532603,7.152968,9.585982,8.532420,7.487489,9.504840,12.536347,14.545982
1968,15.162727,13.277909,13.668682,8.514364,13.316318,9.300273,12.583773,10.685955,9.534682,11.585727,15.664909,18.140227
1969,12.311233,10.400137,10.977260,6.393288,10.567352,6.590594,9.219680,7.315023,7.669406,8.419772,12.989041,15.163196
1970,12.651096,11.021553,11.943470,7.406530,11.776210,7.619543,10.873151,9.456027,8.782283,10.223607,14.619498,17.120639
1971,13.052785,11.061233,11.553333,6.770868,11.174292,6.627397,10.374110,8.765525,8.205845,8.486210,14.017306,16.952329
1972,10.790183,9.649132,10.744338,6.453425,10.713105,6.000091,8.164292,8.127991,6.738858,7.087032,12.796986,13.294703
1973,12.303516,10.597534,12.104612,6.367717,10.519224,5.731689,9.206301,8.242192,8.157032,8.646667,12.463196,16.785114
1974,10.792192,9.669452,10.428584,5.331507,9.611553,6.740776,8.163470,7.582694,7.771233,7.442100,13.120137,15.680868
1975,12.611689,10.565571,11.667443,6.237534,10.506256,7.753881,9.916712,8.584292,9.360274,8.392055,13.345662,16.104201
1976,12.581050,10.818858,11.651781,5.935205,10.345982,6.924521,9.097854,7.687397,8.878265,8.024018,12.897078,16.562146
1977,10.146027,8.036712,10.414475,4.888630,8.909772,5.509817,7.165662,6.211781,7.242009,6.245434,10.667580,12.889909
1978,13.752648,11.011096,13.268721,6.502009,10.937991,7.333151,10.777991,7.835342,9.197306,8.919863,13.877854,17.590594
1979,11.464703,10.188995,11.108356,5.399817,8.366804,5.899817,9.204521,7.618128,7.924932,6.795251,12.721005,14.358493
1980,12.085045,10.937591,10.626136,5.980182,9.862545,7.128455,9.127182,7.984591,8.863227,8.162045,12.608500,15.129773
1981,13.092785,11.649772,11.919178,5.908721,10.375388,6.596530,8.845068,8.163927,8.656986,8.652329,12.684110,17.335982
1982,11.998767,10.094201,11.413333,5.423927,9.759361,5.859041,8.292877,9.095297,7.827260,7.326347,11.999406,14.438676
1983,14.019361,12.484840,12.885571,6.596667,11.282420,6.864521,10.742922,9.721370,10.291461,8.892877,14.166164,17.621507
1984,11.278904,9.493196,10.815662,4.847717,8.618265,5.280868,8.214521,7.309543,8.331826,6.864201,11.990320,14.979269
1985,12.185297,10.910639,11.205753,5.797215,9.666712,6.352922,10.262603,8.307397,10.153014,8.761872,13.793425,16.196164
1986,11.819498,10.014521,10.964110,4.731005,8.490000,7.244018,8.680913,6.351324,7.824932,7.585068,10.959909,15.763516
1987,12.047534,9.916301,12.293836,5.723151,9.388676,8.085160,10.978676,7.445753,8.442466,8.103516,12.873653,14.527032
1988,13.920091,12.431955,12.466636,6.613091,10.981000,8.095182,11.348000,10.164136,9.717591,8.780955,13.468909,17.999045
1989,12.216927,10.672110,10.935642,5.887982,9.815872,7.784083,8.942156,8.243899,8.965688,8.428349,13.503486,16.868349
1990,20.330000,17.410000,27.290000,9.590000,12.080000,10.130000,19.250000,11.630000,11.580000,11.380000,12.080000,22.080000

### Step 13. Downsample the record to a monthly frequency for each location.

In [33]:
data.index = pd.date_range(start='1960-01-01', end='1990-1-1', periods=len(data))
data.groupby(data.index.to_period('M')).mean()

/var/folders/cv/5d9pcgmx1c7gkjn0tsj4dy0m0000gq/T/ipykernel_82743/2565501807.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data.groupby(data.index.to_period('M')).mean()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
1960-01,13.475263,10.429444,12.177368,6.370526,8.632353,6.535789,9.897895,7.316111,7.545789,8.588947,12.019474,12.410000
1960-02,16.911250,14.657059,14.453529,9.214706,14.140588,10.924706,12.630588,11.005294,10.977647,11.437647,15.807647,15.905294
1960-03,16.084737,14.632632,14.643158,9.453889,13.330000,11.225263,11.323158,12.395789,11.949474,13.286842,19.803158,16.455263
1960-04,12.290588,13.125556,12.188824,7.834444,12.281111,9.831667,9.785000,10.913889,10.877647,11.840556,17.801111,15.119412
1960-05,10.648421,9.924211,10.028947,7.173889,9.857368,8.578421,10.605789,9.273158,10.404444,10.967895,15.172105,15.960000
...,...,...,...,...,...,...,...,...,...,...,...,...
1989-09,9.472222,9.276111,9.260000,4.652778,8.360556,6.849444,9.012778,7.694444,8.462222,8.660556,15.357778,17.095000
1989-10,17.784737,16.550000,14.753158,8.545789,12.839474,9.763684,13.211579,10.921053,11.947368,12.004211,18.878421,22.299474
1989-11,17.711667,15.208889,15.120556,7.566111,12.584444,10.245000,12.035000,9.723333,11.187778,11.381111,14.859444,20.367222
1989-12,13.130556,10.350556,13.677778,5.138333,8.776667,6.707778,9.855000,8.563333,8.432222,8.811111,11.644444,20.626667
1990-01,20.330000,17.410000,27.290000,9.590000,12.080000,10.130000,19.250000,11.630000,11.580000,11.380000,12.080000,22.080000

### Step 14. Downsample the record to a weekly frequency for each location.

In [34]:
data.index = pd.date_range(start='1960-01-01', end='1990-1-1', periods=len(data))
data.groupby(data.index.to_period('W')).mean()

/var/folders/cv/5d9pcgmx1c7gkjn0tsj4dy0m0000gq/T/ipykernel_82743/2342827123.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data.groupby(data.index.to_period('W')).mean()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
1959-12-28/1960-01-03,14.8750,14.9600,12.0000,7.8950,12.620000,8.7700,12.5850,10.1450,10.3100,11.1250,18.0200,14.4350
1960-01-04/1960-01-10,13.9050,11.2200,11.3650,6.8875,7.947500,5.4400,10.6175,4.2500,8.1050,7.8475,9.8125,12.1475
1960-01-11/1960-01-17,12.1980,11.1720,11.0080,5.3480,10.140000,7.2400,10.0920,8.6320,7.7740,9.0340,14.5820,14.8740
1960-01-18/1960-01-24,12.6875,7.7375,11.4475,4.1350,5.667500,3.7325,6.4375,5.3725,4.4875,6.5625,8.8875,8.2625
1960-01-25/1960-01-31,14.7300,10.2700,15.2700,8.6050,9.656667,8.4375,11.0525,8.5000,8.3775,9.5325,11.1550,12.7275
...,...,...,...,...,...,...,...,...,...,...,...,...
1989-12-04/1989-12-10,11.9275,8.0350,12.6125,3.8350,6.207500,3.2500,6.6700,5.1375,4.8775,5.1475,10.3025,16.0275
1989-12-11/1989-12-17,10.7425,6.5650,12.3450,3.1850,6.580000,4.7600,5.8550,6.5025,5.5250,6.7300,8.1775,14.9600
1989-12-18/1989-12-24,11.5825,9.3425,13.1250,4.8325,7.782500,6.9650,9.8550,7.7375,7.9475,8.0100,9.1050,19.7825
1989-12-25/1989-12-31,15.8225,11.6875,16.6975,7.7300,10.947500,10.3350,16.5100,14.2925,14.0625,15.1475,18.1375,34.9775
1990-01-01/1990-01-07,20.3300,17.4100,27.2900,9.5900,12.080000,10.1300,19.2500,11.6300,11.5800,11.3800,12.0800,22.0800

### Step 15. Calculate the min, max and mean windspeeds and standard deviations of the windspeeds across all locations for each week (assume that the first week starts on January 2 1961) for the first 52 weeks.

In [37]:
week_data=data.resample('W').agg(['min','max','mean','std'])
week_data.loc[week_data.index[1:53],"RPL":"MAL"]

/var/folders/cv/5d9pcgmx1c7gkjn0tsj4dy0m0000gq/T/ipykernel_82743/2787959927.py:1: FutureWarning: ['Yr_Mo_Dy'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  week_data=data.resample('W').agg(['min','max','mean','std'])

Empty DataFrame
Columns: []
Index: [1960-01-10 00:00:00, 1960-01-17 00:00:00, 1960-01-24 00:00:00, 1960-01-31 00:00:00, 1960-02-07 00:00:00, 1960-02-14 00:00:00, 1960-02-21 00:00:00, 1960-02-28 00:00:00, 1960-03-06 00:00:00, 1960-03-13 00:00:00, 1960-03-20 00:00:00, 1960-03-27 00:00:00, 1960-04-03 00:00:00, 1960-04-10 00:00:00, 1960-04-17 00:00:00, 1960-04-24 00:00:00, 1960-05-01 00:00:00, 1960-05-08 00:00:00, 1960-05-15 00:00:00, 1960-05-22 00:00:00, 1960-05-29 00:00:00, 1960-06-05 00:00:00, 1960-06-12 00:00:00, 1960-06-19 00:00:00, 1960-06-26 00:00:00, 1960-07-03 00:00:00, 1960-07-10 00:00:00, 1960-07-17 00:00:00, 1960-07-24 00:00:00, 1960-07-31 00:00:00, 1960-08-07 00:00:00, 1960-08-14 00:00:00, 1960-08-21 00:00:00, 1960-08-28 00:00:00, 1960-09-04 00:00:00, 1960-09-11 00:00:00, 1960-09-18 00:00:00, 1960-09-25 00:00:00, 1960-10-02 00:00:00, 1960-10-09 00:00:00, 1960-10-16 00:00:00, 1960-10-23 00:00:00, 1960-10-30 00:00:00, 1960-11-06 00:00:00, 1960-11-13 00:00:00, 1960-11-20 00:00:00, 1960-11-27 00:00:00, 1960-12-04 00:00:00, 1960-12-11 00:00:00, 1960-12-18 00:00:00, 1960-12-25 00:00:00, 1961-01-01 00:00:00]